[submodule "externals/libgeo-weather-visualcrossing-perl"]
	path = externals/libgeo-weather-visualcrossing-perl
	url = git@git.sr.ht:~m6kvm/libgeo-weather-visualcrossing-perl
[submodule "externals/libdata-money-perl"]
	path = externals/libdata-money-perl
	url = git@git.sr.ht:~m6kvm/libdata-money-perl
[submodule "externals/libtest-module-runnable-perl"]
	path = externals/libtest-module-runnable-perl
	url = git@git.sr.ht:~m6kvm/libtest-module-runnable-perl
