Source: telegram-bot
Section: perl
Priority: extra
Maintainer: Rev. Duncan Ross Palmer <2e0eol@gmail.com>
Build-Depends:
 debhelper (>= 13),
Build-Depends-Indep:
 libconfig-ini-perl,
 libdata-money-perl,
 libdatetime-perl,
 libdbd-mysql-perl,
 libdbi-perl,
 libgeo-weather-visualcrossing-perl,
 libmoose-perl,
 libtest-deep-perl,
 libtest-exception-perl,
 libtest-module-runnable-perl,
 libtest-output-perl,
 libuniversal-require-perl,
 liburi-encode-perl,
 libwww-perl,
 libwww-telegram-botapi-perl,
 perl,
 perl-base,
 perl-modules,
Standards-Version: 4.5.1

Package: telegram-bot
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends},
 libconfig-ini-perl,
 libdata-money-perl,
 libdatetime-perl,
 libdbd-mysql-perl,
 libdbi-perl,
 libgeo-weather-visualcrossing-perl,
 libmoose-perl,
 libuniversal-require-perl,
 liburi-encode-perl,
 libwww-perl,
 libwww-telegram-botapi-perl,
 perl,
 perl-base,
 perl-modules,
Description: Multipurpose bot for Telegram
 Absolutely packed with features, used by The Firm,
 amongst others.
