Source: telegram-bot
Section: perl
Priority: extra
Maintainer: Duncan Ross Palmer <palmer@overchat.org>
Build-Depends:
 debhelper (>= 13),
Build-Depends-Indep:
 libmoose-perl,
 perl,
 perl-base,
 perl-modules,
Standards-Version: 3.7.3

Package: libdaybo-example-perl
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends},
 libmoose-perl,
 libreadonly-perl,
 perl,
Description: Add module description.
 Add a longer description of the module here.
