Source: telegram-bot
Section: perl
Priority: extra
Maintainer: Duncan Ross Palmer <palmer@overchat.org>
Build-Depends:
 debhelper (>= 13),
Build-Depends-Indep:
 libmoose-perl,
 perl,
 perl-base,
 perl-modules,
Standards-Version: 3.7.3

Package: telegram-bot
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends},
 libmoose-perl,
 libreadonly-perl,
 libuniversal-require-perl,
 perl,
Description: Multipurpose bot for Telegram
 Absolutely packed with features, used by The Firm,
 amongst others.
